.icono-lista {
    width: 24px; /* Establece el ancho deseado */
    height: 24px; /* Establece la altura deseada */
  }
  .navbar {
    width: 100%;
    background-color: #007bff; /* Cambia el color de fondo a azul */
    color: rgb(4, 7, 186);
    /* Agrega cualquier otro estilo que desees para la barra de navegación */
}